PORT=3001

DB_HOST=localhost
DB_USER=
DB_PASS=
DB_NAME=final_team3
DB_PORT=3306

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3001

ECPAY_MERCHANT_ID=3002607
ECPAY_HASH_KEY=pwFHCqoQZGmho4w6
ECPAY_HASH_IV=EkRm7iFT261dpevs
ECPAY_API_URL=https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5

LINEPAY_CHANNEL_ID=2010669119
LINEPAY_CHANNEL_SECRET=f0fe0d34fef5d45aa4a09823bf3d136a
LINEPAY_API_ORIGIN=https://sandbox-api-pay.line.me
